<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="icon" type="image/png" href="{% static "images/logo.image[size=16x16].png" %}">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static "myapp/css/index.postcss.css" %}">
    <script type="text/javascript" charset="utf-8" src="{% static "myapp/js/index.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/foo.rollup.js" %}"></script>
</head>
<body>
    <h1>Index</h1>
    <img src="{% static "images/logo.image[size=200x200|background=000000xFFFFFF].png" %}" alt="">
</body>
</html>
